body {
    background-color: #fBfBfB;
}

#side_bar {
    top: 0px;
    left: 0px;
    width: 68.74px;
    height: 580px;
    margin-top: 50px;
    margin-left: 240px;
    background-color: #EEEEEE;
    border-top: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: #EEEEEE;
    border-style: solid;
    border-radius: 1px;
    box-sizing: content-box;
}

#user_profile {
    display: flex;
    position: relative;
    top: 20.94px;
    left: 11.81px;
    width: 45.65px;
    height: 45.65px;
}

.profile_pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.online_sign {
    position: absolute;
    top: 75%;
    left: 75%;
    width: 25%;
    height: 25%;
    border-radius: 55%;
    background-color: #2ecc71;
    border-color: #ffffff;
    border-style: solid;
    border-width: 2px;
  }

#username {
    margin-top: 35%;
    text-align: center;
    font: normal normal 600 14px/20px Poppins;
    color: #707070;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
} 

#icon_menu {
    height: 450px;
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
  
.icon {
    display: flex;
    position: relative;
    width: 18px;
    height: 22px;
    margin-bottom: 40px;
}

#chat_icon {
    width: 23px;
    margin-left: -2px;
    padding-bottom: 4px;
    margin-bottom: 36px;
    border-bottom: solid #0495FF 1.5px;

}

.seperator {
    border-bottom: solid #707070 1.5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 5px;
}

#chats_bar {
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 50px;
    margin-left: 308.5px;
    width: 300px;
    background-color: #ffffff;
    height: 580px;
    border-top: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: #EEEEEE;
    border-style: solid;
    border-radius: 1px;
    box-sizing: content-box;
}

#chat_bar_line1 {
    position: absolute;
    margin-top: 7%;
    margin-left: 3%;
    font: normal normal 600 14px/20px Poppins;
    color: #707070;
    letter-spacing: 0.4px;
}

#chats_title {
    color: #707070;
}

#msgs_number {
    color: #0495FF;
    font-size: 12px;
}

#more_icon {
    position: absolute;
    margin-left: 180%;
}

#search_box {
    position: absolute;
    margin-top: 16%;
    margin-left: 3%;
}

#search_box input {
    height: 20px;
    width: 192%;
    border-radius: 16px;
    border-style: none;
    background-color: #EEEEEE;
    padding-bottom: 1.5%;
    font-size: 12px;
    text-indent: 8%;
}

#search_icon {
    position: absolute;
    height: 11px;
    width: 11px;
    top: 36%;
    left: 5%;
}

#pinned_title {
    position: absolute;
    margin-top: 28%;
    margin-left: 3%;
    font-size: 10px;
    color: #707070;
    font-family: Poppins;
    font-weight: bold;
}

#dots {
    position: absolute;
    padding-left: 145%;
    font-size: 18px;
    letter-spacing: 1px;
    bottom: 0.3px;
}

#pinned_chats {
    position: absolute;
    top: 18%;
}

.chat_preview {
    height: 55px;
    padding-left: 10px;
    margin-top: 5px;
    width: 535%;
    border-radius: 18px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.chat_preview .profile_pic {
    height: 45.65px;
    width: 45.65px;
}


.username {
    position: absolute;
    margin-top: 8%;
    margin-left: 20%;
    font: normal normal 600 13px/20px Poppins;
    color: #707070;
    letter-spacing: 0.4px;
    font-weight: 1000;
    width: 220%;
}

.timestamp {
    position: absolute;
    margin-top: 8%;
    margin-left: 240%;
    font: normal normal 600 9px/20px Poppins;
    color: 707070;
    opacity: 0.4;
    letter-spacing: 0.4px;
    font-weight: bolder;
    width: 300%;
}

.msg_preview {
    position: absolute;
    margin-top: 44%;
    margin-left: 24%;
    font: normal normal 600 10px/17px Poppins;
    color: #707070;
    opacity: 0.8;
    letter-spacing: 0.4px;
    font-weight: bold;
    width: 400%;
    font-weight: 600;
}

.seen_icon {
    position: absolute;
    height: 23%;
    width: 47%;
    margin-left: 380%;
    margin-top: 35%;
}

#current_chat .seen_icon {
    position: absolute;
    height: 20%;
    width: 40%;
    margin-left: 382%;
    margin-top: 35%;
}

#all_text {
    position: absolute;
    margin-top: 59%;
    margin-left: 3%;
    font-size: 10px;
    color: #707070;
    font-family: Poppins;
    font-weight: bold;
}

#chats {
    position: absolute;
    top: 35%;
    width: 18%;
}

#current_chat {
    background-color: #EEEEEE;
}

.new_message {
    color: #0495FF;
}

#chat_window {
    background-color: black;
    position: absolute;
    top: 50px;
    left: 618.5px;
    width: 55%;
    height: 580px;
    border-top: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 1px;
    border-color: #EEEEEE;
    border-style: solid;
    border-radius: 0.5%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#chat_profile {
    height: 75px;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 10px;
}

#chat_profile .profile_pic {
    height: 55px;
    width: 55px;
    margin-top: 1%;
    margin-left: 2%;
}

#chat_profile .username {
    margin-top: 2%;
    margin-left: 2%;
    font-size: 18px;
    font-weight: 900;
}

#online_status {
    position: absolute;
    margin-top: 4.3%;
    margin-left: 3%;
    font-size: 12px;
    color: #707070;
    font-family: Poppins;
    font-weight: 600;
}